nav {
    background: linear-gradient(to right, #ff00ff, #0000ff7f, transparent);
}

.jumbotron {
    background: linear-gradient(to right, #ff00ff, #0000ff7f, transparent), url(Images/homebanner.png) no-repeat center center fixed;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron-message {
    color: white;
}

#arrow {
    position: relative;
    top: 88%;
}
